/.DS_Store
/FTAnimatedButton-RunMe.xcworkspace/xcuserdata/
/FTAnimatedButton/.DS_Store
/FTAnimatedButton/FTAnimatedButton.xcodeproj/project.xcworkspace/xcuserdata/
/FTAnimatedButton-RunMe.xcworkspace/xcuserdata
/FTAnimatedButton/FTAnimatedButton.xcodeproj/xcuserdata